<<<<<<< HEAD
<!--<h1 class="title">admin first template test</h1>
<nav>
    <a routerLink="/login" routerLinkActive="active">login</a>
    <a routerLink="/" routerLinkActive="active">tasks</a>
</nav>-->
=======
<h1 class="title">admin first template test</h1>
<nav>
    <a routerLink="/login" routerLinkActive="active">login</a>
    <a routerLink="/" routerLinkActive="active">tasks</a>
</nav>
>>>>>>> 0fa0cfef86be06cfdf2a4e84d4f779dde93f028f
<router-outlet></router-outlet>