<div class="container">
    <h1>MyTaskList</h1>
    <hr>
    <form class="well" (submit)="addTask($event)">
        <div class="form-group">
            <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Add Task...">    
        </div>  
    </form>

    <div class="task-list">
        <div *ngFor="let task of tasks">
            <div class="col-md-1">
                <input type="checkbox" [checked]="task.isDone" (click)="updateStatus(task)">
            </div>
            <div class="col-md-7">
                {{task.title}}    
            </div> 
            <div class="col-md-4">
                <input type="button" (click)="deleteTask(task._id)" value="Delete" class="btn btn-danger">    
            </div>
            <br><br>
        </div>
    </div>
</div>